.headerizquierda {
    text-align: left;
    margin-top: 20px;
}

.headeralign {
    display: flex;
    gap: 330px;
    font-size: 1.3rem;
    margin-top: -180px;
    margin-top: 100px;
}

.headerderecha img {
    max-width: 300px;
    height: auto;
    margin-top: 50px;
    border-radius: 195px;
    box-shadow: 0 0px 30px #8debed;
}

@media (max-width: 600px) {
    .headerderecha img {
        margin-top: 20px;
        max-width: 90%;
    }
}

.headerskills {
    display: flex;
    gap: 15px;
    margin-bottom: -23px;
    height: 40px;
    cursor: pointer;
}

.headerskills img {
    height: 23px;
}

.saludo {
    color: #9f9fff;
    font-size: 35px;
}

.minombre {
    background: linear-gradient(135deg, #507fe4, #8de4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -1px;
    margin-top: -20px;
    
}

.quesoy {
    font-size: 28px;
    color: #8de4ff;
}

.headerboton {
    background: linear-gradient(135deg, #2563eb, #3aeda2);
    border-radius: 40px;
    color: white;
    margin-top: 50px;
    transition: all 0.3s ease;
    border: 2px solid white;
    box-shadow: 0 0px 12px #2daea5b7;
}

.headerboton:hover {
    transform: scale(1.1);
    border: 2px solid white;
}

.locationdiv img {
    height: 30px;
}

.locationdiv {
    display: flex;
    width: 100px;
    font-size: 18px;
    margin-top: -30px;
    margin-bottom: 20px;
    gap: 10px;
    color: #8de4ff;
}
@media (max-width: 800px) {

    .headerderecha {
        display: none;
    }

}

@media (max-width: 550px) {

    .headerizquierda {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .locationdiv {
        margin-left: -90px;
    }

}